<!-- ЧАСТИЧНЫЙ ШАБЛОН-->

<form method="POST" action="/users">
    <label for="theme">Оберіть тему:</label>
    <select name="theme" id="theme">
        <option value="light" >Світла</option>
        <option value="dark" >Темна</option>
    </select>
</form>